{% extends "base.html" %}
{% block main %}

    <form method="POST" action="">
       
    <h1>Contact Form</h1>
    <h1>____________________________________________________________</h1>
    <br>
    {{ form.csrf_token }} 
        <p>Fill in this form to contact the site owners</p>
        <br>
        <div id="labelsandcontent">
            <h5 >{{ form.Name.label }} <l id="texter"> (Required)</l> </h5>
            
            Please enter your full name
            <div id="div1">{{ form.Name }}</div> 
        </div>

        <div id="labelsandcontent">
            <br>
            <h5 >{{ form.Email.label }} <l id="texter"> (Required)</l></h5>
            Please enter your e-mail address
            <div id="div1">{{ form.Email }}</div>
        </div>

        <div id="labelsandcontent">
            <br>
            <h5 >{{ form.Subject.label }} <l id="texter"> (Required)</l></h5> 
            Please enter the subject for your message
            <div id="div1">{{ form.Subject }} </div>
        </div>

        <div id="labelsandcontent">
            <br>
            <h5 >{{ form.Message.label }}<l id="texter"> (Required)</l></h5   > 
            Please enter the message you would like to send
            <div id="div3">{{ form.Message }} </div>
        </div>
        
        <br>
        <input id="submitbtn" type="submit" value="Send">
    
    
    </form>
    
    {% endblock %}